/* Styles for the boss list container */
.boss-list-daily {
  margin: 20px;
  margin-top: 110px;
  padding: 10px;
  border: 1px solid #898989;
  border-radius: 4px;
  background-color: #000000;
  overflow-x: auto;
}

/* Styles for the heading within the boss list */
.boss-list-daily h2 {
  color: #d3d3d3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* Styles for the table */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222222;
  color: #919191;
  table-layout: fixed;
}

/* Wrapper for the table to handle overflow */
.table-wrapper {
  overflow-x: auto;
}

/* Styles for table header and cells */
th, td {
  padding: 10px;
  text-align: left;
}

td:nth-child(3) select,
td:nth-child(4) select {
  display: block;
  margin: 0 auto;
}

/* Styles for select elements within table cells */
td select {
  display: block;
  margin-left: 0;
}

/* Styles for table rows based on odd/even indexing */
tr:nth-child(even) {
  background-color: #121212;
}

tr:nth-child(odd) {
  background-color: #191919;
}

/* Hover effect for table rows */
tr:hover {
  background-color: #303030;
}

/* Styles for checkbox inputs */
input[type="checkbox"] {
  cursor: pointer;
}

/* Specific widths for table columns */
th:nth-child(2), td:nth-child(2) {
  width: 175px !important;
}

th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4) {
  width: 110px;
}

/* Center-align text & width in specific columns */
th:nth-child(1), td:nth-child(1) {
  width: 30px;
  text-align: center;
}

/* Left-align text in specific columns */
th:nth-child(2), td:nth-child(2) {
  text-align: left;
}

/* Center-align text in specific columns */
th:nth-child(3), td:nth-child(3),
th:nth-child(4), td:nth-child(4) {
  text-align: center;
}

/* Right-align text & width in specific columns */
th:nth-child(5), td:nth-child(5),
th:nth-child(6), td:nth-child(6) {
  min-width: 175px;
  text-align: right;
}

/* Fade-in and fade-out animations for columns */
.fade-in-column {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  pointer-events: none; /* Prevent interaction with elements that are faded out */
}
