/* Styles for the boss list container */
.boss-list-daily {
  margin: 20px;
  padding: 10px;
  border: 1px solid #898989;
  border-radius: 4px;
  background-color: #000000;
  overflow-x: auto;
}

/* Styles for the heading within the boss list */
.boss-list-daily h2 {
  color: #d3d3d3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* Wrapper for the table to handle overflow */
.boss-list-daily .table-wrapper {
  overflow-x: auto;
}

/* Styles for the table */
.boss-list-daily table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222222;
  color: #919191;
  table-layout: fixed;
}

.boss-list-daily td:nth-child(3) select,
.boss-list-daily td:nth-child(4) select {
  display: block;
  margin: 0 auto;
}

/* Styles for select elements within table cells */
.boss-list-daily td select {
  display: block;
  margin-left: 0;
}

/* Styles for table rows based on odd/even indexing */
.boss-list-daily tr:nth-child(even) {
  background-color: #121212;
}

.boss-list-daily tr:nth-child(odd) {
  background-color: #191919;
}

/* Hover effect for table rows */
.boss-list-daily tr:hover {
  background-color: #303030;
}

/* Styles for checkbox inputs */
.boss-list-daily input[type="checkbox"] {
  cursor: pointer;
}

/* Specific widths for table columns */
.boss-list-daily th:nth-child(2), td:nth-child(2) {
  width: 100px !important;
}

.boss-list-daily th:nth-child(3), td:nth-child(3),
.boss-list-daily th:nth-child(4), td:nth-child(4) {
  width: 110px ;
}

/* Center-align text & width in specific columns */
.boss-list-daily th:nth-child(1), td:nth-child(1) {
  width: 30px;
  text-align: center;
}

/* Left-align text in specific columns */
.boss-list-daily th:nth-child(2), td:nth-child(2) {
  text-align: left;
}

/* Center-align text in specific columns */
.boss-list-daily th:nth-child(3), td:nth-child(3),
.boss-list-daily th:nth-child(4), td:nth-child(4) {
  text-align: center;
}

/* Right-align text & width in specific columns */
.boss-list-daily th:nth-child(5), td:nth-child(5) {
  width: 125px;
  text-align: right;
}

.boss-list-daily th:nth-child(6), td:nth-child(6) {
  width: 175px !important;
  text-align: right;
}

/* Fade-in and fade-out animations for columns */
.boss-list-daily .fade-in-column {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  pointer-events: none; /* Prevent interaction with elements that are faded out */
}