.boss-list {
  margin: 20px;
  margin-top: 110px;
  padding: 10px;
  border: 1px solid #898989;
  border-radius: 4px;
  background-color: #000000;
  overflow-x: auto;
}

.boss-list h2 {
  color: #d3d3d3;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222222;
  color: #919191;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #454545;
}

td select {
  display: block;
  margin: 0 auto;
}

th {
  background-color: #121212;
}

tr:nth-child(even) {
  background-color: #121212;
}

tr:nth-child(odd) {
  background-color: #191919;
}

tr:hover {
  background-color: #303030;
}

select {
  background-color: #222222;
  color: #919191;
  border: 1px solid #454545;
  border-radius: 4px;
  padding: 4px;
  width: 60px;
  box-sizing: border-box;
  font-size: 0.9rem;
}

input[type="checkbox"] {
  margin: 0;
}

th:nth-child(2), td:nth-child(2) {
  width: 125px;
}

th:nth-child(3), td:nth-child(3) {
  width: 125px;
}

th:nth-child(4), td:nth-child(4) {
  width: 175px;
}

th:nth-child(5), td:nth-child(5) {
  width: 175px;
}

th:nth-child(2), td:nth-child(2) {
  text-align: right;
}

th:nth-child(3), td:nth-child(3) {
  text-align: right;
}

th:nth-child(4), td:nth-child(4) {
  text-align: right;
}

th:nth-child(5), td:nth-child(5) {
  text-align: right;
}

td:nth-child(2) select {
  margin-left: auto;
  margin-right: 0;
}

td:nth-child(3) select {
  margin-left: auto;
  margin-right: 0;
}

.fade-in-column {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}