.total-income {
  margin: 20px;
  background-color: #333333;
  border: 1px solid #898989;
  border-radius: 4px;
  overflow-x: auto;
}

.total-income table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222222;
  color: #919191;
}

.table-wrapper {
  overflow-x: auto;
}

.total-income th, .total-income td {
  padding: 10px;
  text-align: center;
}

.total-income th {
  border-bottom: 1px solid #898989;
}
  
.total-income td {
  border-top: 1px solid #898989;
}

.total-income tr:nth-child(odd) {
  background-color: #191919;
}

.total-income tr:nth-child(even) {
  background-color: #121212;
}

.total-income th:nth-child(1), td:nth-child(1) {
  width: 100px !important;
  text-align: center;
}

.total-income th:nth-child(2), td:nth-child(2) {
  width: 100px !important;
  text-align: center;
}