.boss-list {
    margin: 20px;
    margin-top: 90px; /* Moves the container down */
    padding: 10px;
    border: 1px solid #898989; /* Gray border for the container */
    border-radius: 4px;
    background-color: #000000; /* Black background for the container */
  }
  
  .boss-list h2 {
    color: #d3d3d3; /* Light grey color for the title */
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px; /* Space below the title */
    font-size: 1.5rem; /* Adjust font size as needed */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #222222; /* Dark grey background for the table */
    color: #919191; /* Light grey text color */
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #454545; /* Darker grey for row separators */
  }
  
  th {
    background-color: #121212; /* Very dark grey for the table header */
  }
  
  tr:nth-child(even) {
    background-color: #121212; /* Very dark grey for even rows */
  }
  
  tr:nth-child(odd) {
    background-color: #191919; /* Dark grey for odd rows */
  }
  
  tr:hover {
    background-color: #303030; /* Medium grey for row hover effect */
  }
  
  input[type="checkbox"] {
    margin: 0;
  }